aiofiles
aiohttp
aria2p
beautifulsoup4
cfscrape
cryptg
emoji
googletrans
google_images_download
gtts
hachoir
Pillow
psycopg2
pySmartDL
python-barcode
python-magic
qrcode
regex
requests
selenium
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
google-api-python-client
oauth2client
httplib2
coffeehouse==1.0.4
humanize 
git+https://github.com/LonamiWebs/Telethon
git+https://github.com/ahupp/python-magic
pymongo
PyGithub
lxml
